button {
	all: unset;
	cursor: pointer;
}
html, body {
	width:  100%;
	height: 100%;
	margin: 0;
	border: 0;
	margin-top: 50px;
	overflow: auto;
	display: block;
	background-color: #DDDDDD;
}
img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.instructions {
	width: 40%;
	height: auto;
	margin: 0;
	margin-top: 55px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: auto;
}
.canvas {
	margin: 0;
	margin-top: 55px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: auto;
	display: inline;
}
.navbar {
	position: absolute;
	width: 100%;
	top: 0;
	background-color: #bbb;
	font-family:Open Sans,Arial;
}
.navbar a, .navbar button {
	float: left;
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	white-space: nowrap;
}

.navbar a:hover, .navbar button:hover {
	background: #ddd;
	color: black;
}
.navbar_r {
	white-space: nowrap;
	display: block;
}
span {
	float: right;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:inline;
}
