* {
	font-family:Open Sans,Arial;
	padding: 0;
	margin: 0;
}

html {
	background: #eee;
	margin-top: 30px;
}

img {
	height: 5em;
	width: 5em;
}

.topText {
	margin-top: 1.5em;
	border: 0;
	text-align: center;
	padding-top: 2em;
}

p {
	font-size: 14pt;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	background: linear-gradient(to top, #0095b6 , #00bfe9);
	font-family:Open Sans,Arial;
}
.navbar a, .name {
	float: left;
	display: block;
	color: #333;
	text-align: center;
	font-size: 14pt;
	padding: 14px 16px;
	text-decoration: none;
}

.name {
    float: right;
}

.navbar a:hover {
	background: #eee;
	color: black;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

figure { /* social logos*/
	position: absolute;
	left: 50%;
	bottom: 1.5em;
	transform: translate(-50%);
}

h4 { /*copyright notice*/
	position: absolute;
	right: 1em;
	bottom: 1em;
	font-size: 8pt;
}